[submodule "dpdk"]
	path = dpdk
	url = https://github.com/ceph/dpdk.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/ceph/fmt.git
[submodule "c-ares"]
	path = c-ares
	url = https://github.com/ceph/c-ares.git
